<h1>Variables</h1>

<h4>1 Create a variable named pi and store the value 22/7 in it. Now check the data type of this variable.</h4>

In [ ]:
pi=22/7
print(f"DataType {type(pi)}")

DataType <class 'float'>

<hr>

<h4>2 Create a variable called for and assign it a value 4. See what happens and find out the reason behind the behavior that you see.</h4>

In [ ]:
def display(a):
    called_for = a
    print(called_for,f"{type(called_for)}")

display(4)

4 <class 'int'>

<h1>Reason</h1>

<h4>In, python we can't declare variable and assign it the value later. Because, in python the variable types are checked during the compilation of a prog.. Python is dynamically typed lang</h4>

<hr>

<h4>3. Store the principal amount, rate of interest, and time in
different variables and then calculate the Simple Interest for 3
years. Formula: Simple Interest = P x R x T / 100</h4>

In [ ]:
p_amt = 0
r_interest = 0
time = 3

def formula(p,r):
    p=float(input("Enter Principal Amount\n"))
    r=float(input("Enter Rate of Interest\n"))

    main=p*r*time/100
    print(f"Simple Interest for {time} years {main}")

formula(p_amt,r_interest)

Enter Principal Amount
5000
Enter Rate of Interest
5
Simple Interest for 3 years 750.0

<hr>
<hr>

<h1>List</h1>

<h4>1. You have a list of superheroes representing the Justice
League. justice_league = ["Superman"
,"Batman"
,"Wonder Woman","Flash","Aquaman",
"Green Lantern"]

In [ ]:
import random
justice_league = ["Superman","Batman","Wonder Woman","Flash","Aquaman","Green Lantern"]

<hr>

<h3>Performing the following task:

<h4>1. Calculate the number of members in the Justice League.</h4>

In [ ]:
print(f"Number of Members in Justice League {len(justice_league)}")

Number of Members in Justice League 6

<hr>

<h4>2. Batman recruited Batgirl and Nightwing as new members.
Add them to your list.</h4>

In [ ]:
new=["Batgirl","Nightwing"]
justice_league.append(new)
print(f"New Recruited Members added\n {justice_league[-1:]}")

New Recruited Members added
 [['Batgirl', 'Nightwing']]

<hr>

<h4>3. Wonder Woman is now the leader of the Justice League.
Move her to the beginning of the list.</h4>

In [ ]:
justice_league.remove("Wonder Woman")
justice_league.insert(0,"Wonder Woman")
print("Wonder Woman is now the leader of the Justice League")
print(f"Wonder Woman at the beginning of the list\n{justice_league}")

<hr>

<h4>4. Aquaman and Flash are having conflicts, and you need to
separate them. Choose either "Green Lantern" or "Superman"
and move them in between Aquaman and Flash.</h4>

In [ ]:
separate_team = []
fav=["Superman","Green Lantern"]
a=random.choice(fav)
separate_team.append(a)

for i in justice_league:
    if i == "Flash" or i == "Aquaman" in justice_league:
        separate_team.append(i)
print(f"Conflict between Flash and Aquaman\nSo they are seperated\n{separate_team}")

Conflict between Flash and Aquaman
So they are seperated
['Green Lantern', 'Flash', 'Aquaman']

<hr>

<h4>5. The Justice League faced a crisis, and Superman decided to
assemble a new team.</h4>

<h3>Replace the existing list with the following
 new members: ["Cyborg","Shazam","Hawkgirl",
"Martian Manhunter","Green Arrow"]

In [ ]:
print("=====Justice League Faced Crisis=====")
print("=====Superman decides to assemble a new team=====")

fresh_team=["Cyborg","Shazam",
"Hawkgirl","Martian Manhunter",
"Green Arrow"]
justice_league = fresh_team
print(f"New Members in Justice League\n{justice_league}")

=====Justice League Faced Crisis=====
=====Superman decides to assemble a new team=====
New Members in Justice League
['Cyborg', 'Shazam', 'Hawkgirl', 'Martian Manhunter', 'Green Arrow']

<hr>

<h4>6. Sort the Justice League alphabetically. The hero at the 0th
index will become the new leader.</h4>

<h3>(BONUS: Can you predict who the new leader will be?)
Your task is to write Python code to perform these operations</h3>

In [ ]:
print("=====Sorting Justice League=====")
justice_league.sort()
print(justice_league)
print(f"Prediction.? New Leader Will be {justice_league[0]}")

<hr>
<hr>

<h1>If condition</h1>

<h4>1. Write a program to determine the BMI Category based on user input.</h4>

<h3>Ask the user to:
Enter height in meters
Enter weight in kilograms
Calculate BMI using the formula: BMI = weight / (height)2
Use the following categories:
If BMI is 30 or greater, print "Obesity"
If BMI is between 25 and 29, print "Overweight"
If BMI is between 18.5 and 25, print "Normal"
If BMI is less than 18.5, print "Underweight"</h3>

In [ ]:
height=0
weight=0

def bmi(h,w):
    h=float(input("Enter Height in meters\n"))
    w=float(input("Enter Weight in Kg\n"))
    bmi=w/(h**2)

    if bmi >=30:
        print("Obesity")
    elif 25 <= bmi <29:
        print("Overweight")
    elif 18.5 <= bmi <25:
        print("Normal")
    elif bmi <= 18.5:
        print("Underweight")

bmi(height, weight)

Enter Height in meters
1.75
Enter Weight in Kg
70
Normal

<hr>

<h4>2. Write a program to determine which country a city belongs to. Given
list of cities per country:</h4>

In [ ]:
list_of_country ={
"Australia" : ["Sydney",
"Melbourne","Brisbane","Perth"],
"UAE" : ["Dubai","Abu Dhabi",
"Sharjah","Ajman"],
"India" : ["Mumbai","Bangalore",
"Chennai","Delhi"]}

x=[]
user=input("Enter City Name\n")
for i,j in list_of_country.items():
    if user in j:
        x.append(i)

for i in x:
    print(f"{user} is in {i}")

Enter City Name
Sharjah
Sharjah is in UAE

<hr>

<h4>3. Write a program to check if two cities belong to the same country.
Ask the user to enter two cities and print whether they belong to the
same country or not.</h4>

In [ ]:
list_of_country ={
"Australia" : ["Sydney",
"Melbourne","Brisbane","Perth"],
"UAE" : ["Dubai","Abu Dhabi",
"Sharjah","Ajman"],
"India" : ["Mumbai","Bangalore",
"Chennai","Delhi"]}

x=[]
y=[]
user=input("Enter First City\n")
user1=input("Enter Second City\n")
y=[user,user1]

for i,j in list_of_country.items():
    for value in y:
        if value in j:
            x.append(i)
            break

if x[0]==x[-1]:
    for i in x:
        print(f"{user},{user1} are in {i}")
else:
    print("They don't belong to same country..")

Enter First City
Sharjah
Enter Second City
Delhi
They don't belong to same country..

<hr>
<hr>

<h1>Dictionary</h1>

<h4>1. Create a list of your friends' names. The list should have at least 5 names.
Create a list of tuples. Each tuple should contain a friend's name and the length
of the name.</h4>

In [ ]:
list_of_friends=["Aditya","Abhi","Warun","Varun","Suraj"]
print(f"List of Friends {len(list_of_friends)}")
print(list_of_friends)

list_of_tuples=[(list_of_friends)]
x=[]
for i in list_of_tuples:
    for j in i:
        x.append(len(j))

list_of_tuples.append(x)
for i in range(len(x)):
    for j in list_of_tuples:
        print(j[i])

List of Friends 5
['Aditya', 'Abhi', 'Warun', 'Varun', 'Suraj']
Aditya
6
Abhi
4
Warun
5
Varun
5
Suraj
5

<hr>

<h4>2.You and your partner are planning a trip, and you want to track expenses.
Create two dictionaries, one for your expenses and one for your partner's
expenses. Each dictionary should contain at least 5 expense categories and their
corresponding amounts.</h4>

<h3>Calculate the total expenses for each of you and print the results.</h3>

In [ ]:
my_expenses = {
"Travel": 1000,
"Food": 500,
"Hotel": 1500,
"Attractions": 1300,
"Miscellaneous": 1200
}

partner_expenses = {
"Travel": 1000,
"Food": 900,
"Hotel": 1600,
"Attractions": 2400,
"Miscellaneous": 1250
}

total ={}
for i in my_expenses.keys():
    total[i]=my_expenses[i]+partner_expenses[i]
print("=====Total Expenses=====")
print(total)

=====Total Expenses=====
{'Travel': 2000, 'Food': 1400, 'Hotel': 3100, 'Attractions': 3700, 'Miscellaneous': 2450}

<h3>Determine who spent more money overall and print the result.</h3>

In [ ]:
my_money={sum(my_expenses.values())}
partner_money={sum(partner_expenses.values())}
if my_money >= partner_money:
    for i in my_money:
        print(f"I spent {i} more then my partner..")
else:
    for i in partner_money:
        print(f"My partner spent {i} more then Me..")

My partner spent 7150 more then Me..

<h3>Find out the expense category where there is a significant difference in spending
between you and your partner.</h3>

In [ ]:
my_exp=my_expenses.values()
partner_exp=partner_expenses.values()

expense_tracking=[my_expenses,partner_expenses]
x=[]

exp_category={}
for i in my_expenses.keys():
    exp_category[i]=my_expenses[i]-partner_expenses[i]

difference=[(i,j) for i,j in exp_category.items() if j<0]

print("=====Difference in expenses=====")
for i,j in difference:
    print(f"Category {i}\n{j}")

=====Difference in expenses=====
Category Food
-400
Category Hotel
-100
Category Attractions
-1100
Category Miscellaneous
-50

<h1>Inheritance</h1>

<h4>1. Create inheritance using MobilePhone as base class and Apple &
Samsung as child class.</h4>

<h3>1. The base class should have properties:
1. ScreenType = Touch Screen
2. NetworkType = 4G/5G
3. DualSim = True or False
4. FrontCamera = (5MP/8MP/12MP/16MP)
5. rearCamera = (8MP/12MP/16MP/32MP/48MP)
6. RAM = (2GB/3GB/4GB)
7. Storage = (16GB/32GB/64GB)</h3>

<h4>2. Create basic mobile phone functionalities in the classes like:
make_call, recieve_call, take_a_picture, etc.
3. Use super() constructor for calling parent class’s constructor
4. Make some objects of Apple class with different properties
5. Make some objects of Samsung class with different properties.</h4>

In [ ]:
class MobilePhone:
    def __init__(self,scrntype,ntwtype,dualsim,frntcam,rearcam,ram,storage):
        self.scrntype=scrntype
        self.ntwtype=ntwtype
        self.dualsim=dualsim
        self.frntcam=frntcam
        self.rearcam=rearcam
        self.ram=ram
        self.storage=storage

    def call(self):
        print(f"Calling...\nNetwork type {self.ntwtype}")

    def receive_call(self):
        print(f"Incoming Call...\nNetwork type{self.ntwtype}")

    def picture(self):
        print(f"Taking picture from...\n{self.frntcam}")


class Apple(MobilePhone):
    def receive_call(self):
        print(f"Calling from...{self.dualsim}")

    def selfie(self):
        print(f"Selfie with{self.rearcam}")
        super().receive_call()

class Samsung(MobilePhone):
    def call(self):
        print(f"Call me...")
        super().receive_call()


x=MobilePhone("Touch Screen","4G/5G","True or False","(5MP/8MP/12MP/16MP)","(8MP/12MP/16MP/32MP/48MP)","(2GB/3GB/4GB)","(16GB/32GB/64GB)")

s=Samsung("Touch Screen","4G/5G","True or False","(5MP/8MP/12MP/16MP)","(8MP/12MP/16MP/32MP/48MP)","(2GB/3GB/4GB)","(16GB/32GB/64GB)")
x.call()
x.picture()
s.call()

Calling...
Network type 4G/5G
Taking picture from...
(5MP/8MP/12MP/16MP)
Call me...
Incoming Call...
Network type4G/5G

<hr>
<hr>